{{ define "main" }}
<div class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="text-5xl font-bold mb-6 text-gray-100">{{ .Title }}</h1>

    <div class="flex flex-col gap-8">
        <div class="flex-grow">
            <div class="bg-[#121212] p-8 rounded-lg mb-8">
                <div class="prose prose-invert prose-lg max-w-none">
                    <div class="text-lg">
                        {{ .Content }}
                    </div>
                </div>
            </div>

            <!-- Coding Profiles Section -->


                    <!-- Kaggle -->
        </div>
    </div>
</div>

<style>
    .prose {
        @apply text-gray-300;
        font-size: 1.125rem;
    }
    .prose p {
        @apply text-gray-300 mb-6;
        line-height: 1.9;
        font-size: 1.00rem;
    }
    .prose p + p {
        margin-top: 2rem;
    }

    .animated-link {
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    .animated-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -1px;
        left: 0;
        background-color: #ffffff;
        transition: width 0.3s ease-in-out;
    }

    .animated-link:hover::after {
        width: 100%;
    }

    .certification-link {
        transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.3s ease;
    }


    .certification-link .animated-link::after {
        height: 1.5px;
        background-color: rgb(255, 255, 255);
        bottom: -3px;
    }
</style>
{{ end }}
